/* reset css code  */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

/* home start  */
.home
{
    width: 100%;
    min-height: 100vh;
    background: rgba(229, 84, 115, 0.10);
}
.home .home-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 8% 0;
    min-height: 100vh;
    gap: 4rem;
}
.home-left-content
{
    max-width: 600px;
    /* border: 2px solid black; */
    padding: 30px 120px 0  10px ;
    line-height: 3;
}
.home-left-content h2 
{
    font-size: 50px;
    line-height: 55px;
    font-weight: 600;
}
.home-left-content p 
{
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
}
.btn 
{
    display: inline-block;
    padding: 12px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #E55473;
    font-size: 20px;
    color: #FFF;
    margin-top: 20px;
    cursor: pointer;
}
.home-right-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 83px;
}
.home-right-content img 
{
    width: 500px;
}
/* home End  */

/* feature start  */
.feature
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 3% 8%;
}
.title
{
    text-align: center;
    max-width: 500px;
    line-height: 2;
}
.title h2 
{
    color: #272727;
    font-size: 35px;
}
.title p 
{
    line-height: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.feature-container
{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;

}
.content-box
{
    text-align: center;
}
.content-box h3 
{
    margin-top: 20px;
    text-decoration: underline;
    color: #272727;
    font-size: 18px;
}
.img-box-1,
.img-box-2,
.img-box-3 
{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 40px 30px 0;
    width: 350px;
    height: 450px;
}
.img-box-1
{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.img-box-2
{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.img-box-3
{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* feature End */


/* hot-sell  start  */
.hot-sell
{
    width: 100%;
    height: 520px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 12%;
    gap: 3rem;
}
.hot-sell-left-con
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 2;
}
.hot-sell-left-con h2 
{
    font-size: 30px;
    font-weight: 600;
}
.hot-sell-left-con h2  span 
{
    color: #E55473;
}
.hot-sell-left-con p 
{
    width: 500px;
    line-height: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
}
/* hot-sell  End */

/* instagram post start  */
.instagram
{
    width: 100%;
}
.ins-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2;
    padding: 3% 8%;
    text-align: center;
}
.ins-container h2 
{
    font-size: 35px;
    font-weight: 600;

}
.ins-container p 
{
    width: 594px;
    line-height: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    font-size: 18px;
}
.insta-img-box
{
    display: flex;
    margin-top: 40px;
    gap: 2rem;
}
.insta-img-box img 
{
    width: 250px;
}

/* instagram post End */

/* super sale start  */
.super-sale
{
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
}
.super-sale-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3% 7%;
}
.titles
{
    text-align: center;
    line-height: 2;
}
.titles h2 
{
    font-size: 35px;
    font-weight: 600;
}
.titles p 
{
    max-width: 500px;
    line-height: 25px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}
.main-product-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 70px;
}
.main-product-container .content-box
{
    
    padding: 20px 30px 0;
    width: 350px;
    height: 400px;
    box-shadow: 0 10px 30px rgba(39, 39, 39, 0.60);
    border-radius: 20px;
    background: #FFF;
}
.content-box .imgbox 
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    box-shadow:inset 0 10px 30px rgba(39, 39, 39, 0.222);
    border-radius: 15px;
}
.content-box .imgbox img 
{
    width: 200px;
}
.cart-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
   margin-top: -10px;
}
.cart-box i 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: rgba(229, 84, 115, 0.35);
    font-size: 23px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.cart-box h3 
{
    text-decoration: none;
    line-height:1.8;
    font-size: 20px;
    font-weight: 500;
}
.cart-box span 
{
    font-size:18px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(70, 70, 70);
}
/* super sale End */

/* banner start  */
.down-banner
{
    width: 100%;
}
.banner
{
    position: relative;
    padding: 4% 11%;
    width: 100%;
}
.banner img 
{
    width: 100%;
}
.inputBx 
{
    position: absolute;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translate(-40%,-300%);

}
.inputBx .btn 
{
    position: relative;
    top: -10px;
}
.inputBx input
{
    width: 400px;
    padding: 15px 20px;
    outline: none;
    border: 1px solid gray;
    border-radius: 8px;
    background: #FFF;
}
/* banner End */

/* footer start  */
footer
{
    background: #111010;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 2;
}
footer h2 
{
    font-size: 35px;
    font-weight: 600;
    color: #E55473;
}
footer h2 span
{
    color: white;
}
footer h4
{
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.40);
    margin-top: 20px;
}
footer p 
{
    max-width: 500px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 17px;
}
/* footer End */